/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* RESET */

header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 4.6875rem;
    background-color: #06131f;
}

.logo-container{
    width: 75%;
    margin: auto;
    color: white;
}

.logo{
    width: 3.125rem;
}

main{
    display: flex;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 75px);
    background-color: #1d2d3c;
}

.cards-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 60%;
    margin: auto;
}

.album-card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100% / 3 - 100px);
    margin: 0 .9375rem; 
    margin-top: 1.5625rem;
    margin-bottom: 1.5625rem;
    padding-top: 1.5625rem;
    padding-bottom: 1.5625rem;
    background-color: #112030;
    color: white;
}

.album-img{
    max-width: 9.375rem;
}

.album-title{
    margin: .625rem 0;
}

.album-artist{
    margin: .3125rem 0;
}

.album-date{
    margin: .3125rem 0; 
}

.hover-panel{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.95);
    opacity: 0;
}

.hover-title{
    font-size: 1.375rem;
    margin-bottom: 1.25rem;
}

.hover-panel:hover{
    opacity: 1s;
}
